{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Math Coop</title>
  <link rel="stylesheet" type="text/css" href="{% static 'coop/styles.css' %}">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'coop/main.js' %}"></script>
</head>

<body>
  <div id="container">
    {% block nav %}
    <ul class="base_nav">
      <li class="base_nav"><a href="{% url 'people' %}">Who We Are</a></li>
      <li class="base_nav"><a href="{% url 'outreach' %}">Past Work</a></li> 
      <li class="base_nav"><a href="{% url 'pres' %}">Presentations</a></li> 
      <li class="base_nav"><a href="https://www.youtube.com">YouTube Page</a></li>
      <li class="base_nav" id="logo" style="float: right;">
        <a href="{% url 'index' %}">
          <h4 id="logoh">Math Co-op</h4>
          <p id="logop">Brown University's Math Outreach Program</p>
        </a>
      </li>
    </ul>
    {% endblock %}
    <div>
    <div id="header">
      <!-- <hr class="hr"> -->
    <!-- <table>
      <tr> -->
        <!-- <td id="left"> -->
      <div id="content">
        {% block content %}
        <div style="float: left; width: 50%;">
        <h4>Welcome to Brown University's Math Co-op Program</h4>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices mi quis odio </li>
          <li>vel pulvinar velit porta. Fusce ut erat laoreet, pharetra lorem non, pellentesque arcu. In hac</li>
          <li>habitasse platea dictumst. Sed sit amet bibendum enim. Nam id urna ex. Sed tincidunt nibh in nisl placerat placerat.</li>
          <li>Suspendisse pulvinar venenatis elementum. Suspendisse eu scelerisque magna.</li>
          <li>Fusce cursus eros non leo consectetur tincidunt. Nullam sit amet ullamcorper turpis.</li>
        </ul>
        </div>
        <div style="float: right; margin-right: 20%; width:25%;">
          <img style="display: block; width: 100%;" src="{% static 'coop/wave.gif' %}" />
          <img style="display: block; width: 100%; padding-top: 25px;" src="{% static 'coop/mandelbrot.jpg' %}" />
        </div>
        {% endblock %} 
      </div>
    </div>
        <!-- </td>
        <td id="right">
          {% block sidebar %}
          <h3>About</h3>
          <div class="content-text">
            <p>The Math CoOp, founded in January 2014, is a group of students, post-doctoral fellows and faculty who share a common passion for math outreach. We meet on a monthly basis to discuss mathematics and share ideas for presentations at all grade levels.</p>
          </div>
          <img id="picture-1" src="https://images.pexels.com/photos/430207/pexels-photo-430207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          {% endblock %}
        </td> -->
      <!-- </tr>
    </table> -->
  </div>
</body>

</html>