<!DOCTYPE html>
<html>

<head>
  <title>Math Coop</title>
  <script>

  </script>
  <style>
    body {
      background-color: #282828;
      height: 100%;
      width: 100%
    }

    h1, p {
      text-align: center;
    }

    #container {
      background-color: whitesmoke;
      margin-left: auto;
      margin-right: auto;
      width: 90%;

    }

    #header {
      height: 500px;
    }

    #content {
      height: auto;
    }
  </style>
</head>

<body>
  <div id="main">
    <div id="container">
      <div id="header">
        <h1>Math Co-op</h1>
        <p>Brown University's Math Outreach Program</p>
      </div>
      <hr />
      <div id="content">

      </div>
    </div>
  </div>
</body>

</html>