{% extends "coop/base.html" %}

{% block content %}
    <h3>Admin Actions</h3>
    <a id="uploadPresA" href="{% url 'upload_pres' %}" class="uploadA">Upload a New Presentation</a> <br /><br />
    <a id="uploadOutreachA" href="{% url 'upload_outreach' %}" class="uploadA">Enter New Outreach</a>
    <br>
    <br>
    <table>
        {% for pres in presentations %}
        <details>
            <summary>Name: {{ pres.name }}</summary>
            Author: {{ pres.author }}<br>
            Summary: {{ pres.summary }}<br>
            Topics: {{ pres.topics }}
        </details>
        {% endfor %}
    </table>
{% endblock %}