{% extends "coop/base2.html" %}

{% block nav %}
  <div class="navigation-bar">
    <a href="{% url 'people' %}" class="nav-link">People</a>
    <a href="{% url 'outreach' %}" class="nav-link w--current">Outreach Events</a></div>
    <a href="{% url 'pres' %}" class="nav-link">Presentations</a></div>
  </div>         
{% endblock %}

{% block img %}
{% endblock %}

{% block content %}
  {% for outreach in outreach_history %}
    <table>
      <tr>
        <h1 class="info-page-header blog-headline">{{ outreach.name }}</h1>
      </tr>
      <tr>
        <td style="width: 50%">
        Location: {{ outreach.location }}<br/>
        Date: {{ outreach.date }}<br/>
        Description: {{ outreach.description }} <br/>
        Presenter(s): {% for person in outreach.people %}{% if forloop.first %}{% else %}, {% endif %}<a href="/coop/people#{{person.name|urlencode}}" class="byline-link">{{ person.name }}</a>{% endfor %}        
        </td>
      </tr>
    </table>
    <hr>
  {% endfor %}
{% endblock %}
