{% extends "coop/base2.html" %}

{% block nav %}
  <div class="navigation-bar">
    <a href="{% url 'people' %}" class="nav-link">People</a>
    <a href="{% url 'outreach' %}" class="nav-link">Outreach</a></div>
    <a href="{% url 'pres' %}" class="nav-link w--current">Presentations</a></div>
  </div>         
{% endblock %}

{% block img %}
{% endblock %}

{% block content %}
  {% for pres in presentations %}
    <table>
      <tr>
        <h1 id="{{ pres.name }}" class="info-page-header blog-headline">{{ pres.name }}</h1>
      </tr>
      <tr>
        <td>
          Author: {{ pres.author }}<br />
          Summary: {{ pres.summary }}<br />
          Level: {{ pres.level }}<br />
          Topics: {{ pres.topics }}<br />
          File(s):{% for file in pres.files %}{% if forloop.first %}{% else %}, {% endif %}<a href="/coop/download/?file_name={{file|urlencode}}" class="colorless" download="{{file}}">{{file}}</a>{% endfor %}
        </td>
      </tr>
    </table>
    <hr>
  {% endfor %}
{% endblock %}
