{% extends "coop/base.html" %}
{% load static %}

<script type="text/js" src="{% static 'coop/uploadLogic.js' %}"></script>

{% block content %}
    <h4>Upload a New Presentations</h4>
    <form action="{% url 'upload' %}" method="POST">
        <label for="nameInput">Name: </label><input id="nameInput" type="text" /><br/><br/>
        <label for="authorInput">Author: </label><input id="authorInput" type="text" /><br/><br/>
        <label for="summaryInput">Summary: </label><input id="summaryInput" type="textarea" /><br/><br/>
        <label for="fileInput">File: </label><input id="fileInput" type="file" /><br/><br/>
        <!-- TODO: add topic functionality -->
        
        <button type="submit">Upload</button>
    </form>
{% endblock %}