body {
  background-color:white;
  height: 100%;
  width: 100%;
  margin: 0px;
}

summary {
  outline: none;
  cursor: pointer;
  font-weight: normal;
}

a {
  cursor: pointer;
}

td {
  vertical-align: top;
}

li {
  margin-bottom: 5px;
}

h1, h2, h3, h4, p, li {
  font-family: Arial,Helvetica,sans-serif;
}

#container {
  /* background-color: whitesmoke; */
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#left {
  padding-left: 50px;
  width: 66%;
}

#right {
  width: 99%;
}

#picture-1 {
  max-width: 100%;
  max-height: 100%;
}

#header {
  width: 100%;
  text-align: center;
}

#content {
  float: right;
  text-align: left;
  width: 85%;
  margin-top: 0px;
}

#newTopicNameInput {
  height: 24px;
}

#logo {
  text-align: center;
  margin-left: auto;
  padding-right: 25px;
  margin-top: 0px;
}

#logoh, #logop {
  color: white;
}
#logop {
  font-size: 12px;
}
#logoh {
  margin-bottom: 0px;
}

.content-text {
  width: 94%;
}

.hr {
  width: 90%;
}

.uploadA {
  color: black;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  text-decoration: underline;
  height: 24px;
}

.profileImage {
  width: 300px;
}

.objectInfo {
  min-width: 200px;
}

.info-page-header{
  margin-top: 30px;
}

.colorless{
  color: #8f8f8f;
}

/* Navbar */
ul.base_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
  list-style-type: none;
  margin: 0px;
  font-size: 22px;
  height: 150px;
  overflow: hidden;
  background-color: #67caea;
  background-image: linear-gradient(to top right, #67caea, #67caea, purple);
}

li.base_nav {
  float: left;
  text-align: left;
  margin-top: 30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

li.base_nav a {
  color: white;
  display: block;
  margin-right: 4px;
  padding: 0px 16px;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li.base_nav a:hover {
  /* background-color: #111; */
  cursor: pointer;
}

li.base_nav.selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Navbar */
ul.manage_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li.manage_nav {
  float: left;
}

li.manage_nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li.manage_nav a:hover {
  /* background-color: #222; */
  cursor: pointer;
}
