html {
  height: 100%;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  height: 100%;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin: 0px;
  color: #d3d3d3;
}

summary {
  outline: none;
  cursor: pointer;
  font-weight: normal;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
}

.header-section {
  padding-top: 76px;
  padding-bottom: 76px;
  text-align: center;
}

.navigation-bar {
  margin-top: 45px;
  text-align: center;
}

.section {
  position: relative;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.section.centered {
  text-align: center;
}

.footer {
  padding-top: 41px;
  padding-bottom: 41px;
  border-top: 1px solid rgba(0, 0, 0, .13);
  text-align: center;
}

.footer.center {
  text-align: center;
}

.nav-link {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 7px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #303030;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #f5f5f5;
}

.nav-link.w--current {
  color: #b9b9b9;
}

.nav-link.w--current:hover {
  color: #f5f5f5;
}

.nav-menu {
  float: none;
}

.byline-wrapper {
  margin-bottom: 25px;
  color: rgb(130, 130, 130);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.byline-link {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: rgb(164, 164, 164);
  text-decoration: none;
}

.byline-link:hover {
  color: #f5f5f5;
}

.byline-text {
  display: inline-block;
  margin-right: 5px;
  font-family: Montserrat, sans-serif;
}

.blog-home-link {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  font-family: Montserrat, sans-serif;
  color: #b9b9b9;
  text-decoration: none;
}

.blog-home-link:hover {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  color: #f5f5f5;
}

.blog-name {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 53px;
  line-height: 57px;
  letter-spacing: 1px;
}

.blog-name:hover {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  color: #f5f5f5;
}

.blog-headline {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.heading-wrapper {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.section-header {
  text-align: center;
  margin-top: 110px;
}

.first-section-header {
  text-align: center;
  margin-bottom: center;
}

.content-text {
  width: 94%;
}

.hr {
  width: 90%;
}

.profileImage {
  width: 300px;
}

.objectInfo {
  min-width: 200px;
}

.info-page-header{
  margin-top: 30px;
}

