{% extends "coop/manage/base.html" %}
{% load static %}

{% block content %}
    <h4>Upload a New Presentations</h4>
    <form action="{% url 'edit_outreach' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="outreach" value="{{ outreach.name }}"/>

        <label for="nameInput">Name: </label><input id="nameInput" name="nameInput" type="text" value="{{ outreach.name }}"/><br/><br/>
        <label for="authorInput">Author: </label><input id="authorInput" name="authorInput" type="text" value="{{ outreach.author }}"/><br/><br/>
        <label for="levelInput">Level: </label><input id="levelInput" name="levelInput" type="text" /><br/><br/>
        <label for="summaryInput">Summary: </label><input id="summaryInput" name="summaryInput" type="textarea" value="{{ outreach.summary }}"/><br/><br/>
        <label for="fileInput0">Add Files: </label><br /><br /><input id="fileInput0" name="fileInput"
            type="file" accept="application/vnd.ms-powerpoint, application/pdf" multiple="multiple"/><br/><br/>
        <label for="addFileInput"><button id="addFileInput" type="button" onclick="appendFileInput(0)">Add Another File</button><br /><br />
        <br>
        <label for="topicInput">Topics: </label> 
        <input id="topicinput" name="topicInput" type="text" value="{{ topics }}" />
        <br />
        <!-- TODO: add topic functionality (add new topics)-->
        <button type="submit">Commit Edits</button>
    </form>
{% endblock %}