{% extends "coop/manage/base.html" %}

{% block content %}
    <h3>Admin Actions</h3>
    <a id="uploadOutreachA" href="{% url 'upload_outreach' %}" class="uploadA">Enter New Outreach</a>
    <table>
            {% for outreach in outreachs %}
            <tr>
                <td class="objectInfo">
                    <details>
                        <summary><b>Name</b>: {{ outreach.name }}</summary>
                        <b>location:</b> {{ outreach.location }} <br />
                        <b>date:</b> {{ outreach.date }} <br />
                        <b>description:</b> {{ outreach.description }}<br />
                        <b>Presenters:</b> {{ outreach.people }}
                    </details>
                </td>
                <td>
                    {% if outreach.image %}<img class="profileImage" src="/coop{{ outreach.image.url }}" />{% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_outreach' %}?outreach={{ outreach.name }}">Edit</button>
                </td>
                <td>
                    <button id="delete{{ outreach.name }}" onclick="deleteObject('outreach', '{{outreach.name}}')">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}